<div id="<%= dom_id person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= person.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Initials:</strong>
    <%= person.initials %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= person.slug %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this person", person, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this person', edit_person_path(person), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
