<div class="text-3xl font-bold flex" id="header_with_status_<%= status %>">
  <div><%= status.to_s.capitalize %></div>
  <div
    id="button_with_status_<%= status %>"
    class="ml-8 w-8 h-8 transition"
    data-controller="rotating"
    data-rotating-target="button"
    data-rotating-is-initially-down-value="<%= visible %>"
    data-rotating-is-currently-down-value="<%= visible %>"
    data-action="click->visibility#toggle click->rotating#toggle">
  </div>
</div>
