<div
  id="<%= card.slugged_id(:size) %>"
  class="<%= dropdown_ring %>">
  <span
    id="<%= card.slugged_id(:size_text) %>"
    class="<%= font_size_from(card.size) %>">
    <%= card.size %>
  </span>
</div>
