<div data-id="<%= card.id %>" id="<%= dom_id(card) %>" class="w-full">
  <%= turbo_frame_tag("card_#{card.slug}") do %>
    <%= simple_form_for(card) do |f| %>
      <div
        class="border border-black rounded-lg my-4 pl-2 card"
        data-card-title="<%= card.name.parameterize %>">
        <div class="flex flex-vertical items-center font-bold">
          <%= render("cards/show/handle") %>
          <%= render("cards/show/slug", card:) %>
          <div>
          <%= render("cards/show/initials", card:) %>
          <%# render("cards/edit/initials", card:) %>
        </div>
        <div>
          <%= render("cards/show/size", card:) %>
          <%# render("cards/edit/size", card:) %>
        </div>
          <%= render("cards/edit/name", card:, f:) %>
          <%= render("cards/edit/actions", card:, f:) %>
        </div>
        <div class="flex mb-4">
          <%= render("cards/edit/description", card:, f:) %>
          <%= render("cards/show/more_actions", card:) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
